

body {
  background-color: #fff;
    color: #333;
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 13px;
    line-height: 18px;
    margin: 33px;
}

.field,.text_area,.text_field,.book_title,.book_body{
  display:blok;
  margin-bottom:15px;
}
